<!DOCTYPE html>
<html>
<head>
	<title>Statistical report</title>
	<style type="text/css">
		body{font-size: 14px;}
		td{padding: 5px 10px;}
		th{padding: 5px 0px;}
	</style>
</head>
<body>
<div id="content">
<h1 align="center">The summary statistical analysis report</h1>
<p>
	<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
		<tr bgcolor="#ffffff"><td>Total number of sequences</td><td align="right">Fasta</td><td align="right">{{ seq.seqcount }}</td></tr>
		<tr bgcolor="#ffffff"><td>Total length of sequences</td><td align="right">A+T+C+G+N</td><td align="right">{{ seq.size }} bp</td></tr>
		<tr bgcolor="#ffffff"><td>Total valid length of sequences</td><td align="right">A+T+C+G</td><td align="right">{{ seq.validsize }} bp</td></tr>
		<tr bgcolor="#ffffff"><td>Unkown bases (Ns) in sequences</td><td align="right">{{ seq.ns[0] }} bp</td><td align="right">{{ seq.ns[1] }}%</td></tr>
		<tr bgcolor="#ffffff"><td>GC content</td><td align="right">(G+C)/(A+T+C+G) not include Ns</td><td align="right">{{ seq.gc }}%</td></tr>
	</table>
</p>

{% macro table(title, rows) -%}
<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
<caption><p><b>Table. </b>{{ title }} <a href="#"><img src="expcsv.png"></a></p></caption>
<tr bgcolor="#ffffff">
	{% for col in rows[0] %}
	<th>{{ col }}</th>
	{% endfor %}
</tr>
{% for row in rows[1:] %}
<tr bgcolor="#ffffff">
	{% for col in row %}
	<td>{{ col }}</td>
	{% endfor %}	
</tr>
{% endfor %}
</table>
{%- endmacro %}

{% macro figure(title, name) -%}
<center><img src="{{ name }}.png" align="middle" width="700"></center>
<center><b>Fig. </b>{{ title }} <a href="{{ name }}"><img src="expfig.png"></a></center>
{% endmacro%}

<!-- perfect SSRs statistics -->
<h2 align="center">The summary of perfect SSRs</h2>
<p>
	<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
		<tr bgcolor="#ffffff"><td>Total number of perfect SSRs</td><td align="right">counts</td><td align="right">{{ ssr.count }}</td></tr>
		<tr bgcolor="#ffffff"><td>Total length of perfect SSRs</td><td align="right">bp</td><td align="right">{{ ssr.length }}</td></tr>
		<tr bgcolor="#ffffff"><td>The average length of SSRs</td><td align="right">total ssr length/total ssr counts</td><td align="right">{{ (ssr.length/ssr.count)|round(2,'ceil') }}</td></tr>
		<tr bgcolor="#ffffff"><td>SSRs per sequence</td><td align="right">total SSR counts/sequence counts</td><td align="right">{{ (ssr.count/seq.seqcount)|round|int }}</td></tr>
		<tr bgcolor="#ffffff"><td>The percetage of sequence occupied by SSRs</td><td align="right">ssr total length/total sequence size</td><td align="right">{{ (ssr.length/seq.size*100)|round(2,'ceil') }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative abundace</td><td align="right">total SSRs/total valid length</td><td align="right">{{ ssr.frequency }} loci/{{ seq.unit }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative density</td><td align="right">total SSR length/total valid length</td><td align="right">{{ ssr.density }} bp/{{ seq.unit }}</td></tr>
	</table>
</p>

<p>{{ table('The perfect SSR types summary', ssr.type) }}</p>
<p>{{ figure('The distribution of perfect SSRs types', 'ssr_type') }}</p>
<p>{{ table('The motif category summary', ssr.category) }}</p>
<p>{{ figure('The distribution of ssr repeats', 'ssr_repeat') }}</p>
<p>{{ figure('The distribution of ssr length', 'ssr_length') }}</p>

<!-- compound SSRs statistics -->
<h2 align="center">The summary of compound SSRs</h2>
<p>
	<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
		<tr bgcolor="#ffffff"><td>Total number of compound SSRs</td><td align="right"></td><td align="right">{{ cssr.cm_count }}</td></tr>
		<tr bgcolor="#ffffff"><td>Total number of SSRs</td><td></td><td>{{ cssr.ssr_count }}</td>
		<tr bgcolor="#ffffff"><td>Relative abundace</td><td align="right">total SSRs/toal valid length</td><td align="right">{{ cssr.frequency }} loci/{{ seq.unit }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative density</td><td align="right">total SSR length/toal valid length</td><td align="right">{{ cssr.density }} bp/{{ seq.unit }}</td></tr>
	</table>
</p>

<p>{{ figure('The complexity distribution of compound SSRs', 'cssr_complexity') }}</p>
<p>{{ figure('The length distribution of compound SSRs', 'cssr_length') }}</p>
<p>{{ figure('The gap length distribution of compound SSRs', 'cssr_gap') }}</p>

<!-- imperfect SSRs statistics -->
<h2 align="center">The summary of imperfect SSRs</h2>
<p>
	<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
		<tr bgcolor="#ffffff"><td>Total number of imperfect SSRs</td><td align="right"></td><td align="right">{{ issr.count }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative abundace</td><td align="right">total SSRs/toal valid length</td><td align="right">{{ issr.frequency }} loci/{{ seq.unit }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative density</td><td align="right">total SSR length/toal valid length</td><td align="right">{{ issr.density }} bp/{{ seq.unit }}</td></tr>
	</table>
</p>

<p>{{ table('The summary of imperfect SSR types', issr.type) }}</p>
<p>{{ figure('The distribution of imperfect SSR types', 'issr_type') }}</p>
<p>{{ table('The summary of imperfect SSR motif category', issr.category) }}</p>
<p>{{ figure('The distribution of imperfect SSR score', 'issr_score') }}</p>
<p>{{ figure('The distribution of imperfect SSR length', 'issr_length') }}</p>

<!-- VNTRs statistics -->
<h2 align="center">The summary of VNTRs</h2>
<p>
	<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
		<tr bgcolor="#ffffff"><td>Total number of VNTRs</td><td align="right"></td><td align="right">{{ vntr.count }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative abundace</td><td align="right">total SSRs/toal valid length</td><td align="right">{{ vntr.frequency }} loci/{{ seq.unit }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative density</td><td align="right">total SSR length/toal valid length</td><td align="right">{{ vntr.density }} bp/{{ seq.unit }}</td></tr>
	</table>
</p>

<p>{{ figure('The distribution of VNTR types', 'vntr_type') }}</p>
<p>{{ figure('The distribution of VNTR repeats', 'vntr_repeat') }}</p>
<p>{{ figure('The distribution of VNTR length', 'vntr_length') }}</p>


</div>
</body>
</html>