<!DOCTYPE html>
<html>
<head>
	<title>Statistical report</title>
	<style type="text/css">
		body{font-size: 14px;}
		td{padding: 5px 10px;}
		th{padding: 5px 0px;}
	</style>
</head>
<body>
<div id="content">
<h1 align="center">The summary statistical analysis report</h1>
<p>
	<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
		<tr bgcolor="#ffffff"><td>Total number of sequences</td><td align="right"></td><td align="right">1</td></tr>
		<tr bgcolor="#ffffff"><td>Total length of sequences</td><td align="right">A+T+C+G+N</td><td align="right">{{ size }} bp</td></tr>
		<tr bgcolor="#ffffff"><td>Total valid length of sequences</td><td align="right">A+T+C+G</td><td align="right">{{ validsize }} bp</td></tr>
		<tr bgcolor="#ffffff"><td>Unkown bases (Ns) in sequences</td><td align="right">{{ ns[0] }} bp</td><td align="right">{{ ns[1] }}%</td></tr>
		<tr bgcolor="#ffffff"><td>GC content (G+C)/(A+T+C+G) not include Ns</td><td align="right"></td><td align="right">{{ gc }}%</td></tr>
		<tr bgcolor="#ffffff"><td>Total number of perfect SSRs</td><td align="right"></td><td align="right">{{ ssrcounts }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative abundace</td><td align="right">total SSRs/toal valid length</td><td align="right">{{ frequency }} loci/{{ unit }}</td></tr>
		<tr bgcolor="#ffffff"><td>Relative density</td><td align="right">total SSR length/toal valid length</td><td align="right">{{ density }} bp/{{ unit }}</td></tr>
	</table>
</p>

<!-- perfect microsatellites types -->

{% macro table(title, rows) -%}
<table border="0" bgcolor="black" cellpadding="0" cellspacing="1" align="center" width="80%">
<caption><p>{{ title }} <a href="#"><img src="expcsv.png"></a></p></caption>
<tr bgcolor="#ffffff">
	{% for col in rows[0] %}
	<th>{{ col }}</th>
	{% endfor %}
</tr>
{% for row in rows[1:] %}
<tr bgcolor="#ffffff">
	{% for col in row %}
	<td>{{ col }}</td>
	{% endfor %}	
</tr>
{% endfor %}
</table>
{%- endmacro %}

{% macro figure(title, name) -%}
<center><img src="{{ name }}.png" align="middle" width="700"></center>
<center>{{ title }} <a href="{{ name }}"><img src="expfig.png"></a></center>
{% endmacro%}

{% if ssrtypes %}
<p>{{ table('The motif length summary', ssrtypes) }}</p>
<p>{{ figure('The distribution of ssr types', 'ssr_len_pie_plot') }}</p>
{% endif %}

{% if ssrmotifs %}
<p>{{ table('The most abundant SSR motifs', ssrmotifs) }}</p>
<p>{{ figure('The most abundant motifs of each SSR types', 'ssr_abundant_motif_bar_plot') }}</p>
{% endif %}

{% if ssrrepeats %}
<p>{{ table('The motif repeat summary', ssrrepeats) }}</p>
{% endif %}
</div>
</body>
</html>