<html>
<head>
<style>
@font-face{
	font-family: "RobotoMono";
	src: url("qrc:/fonts/robotomono.ttf") format('truetype');
}
body{font-size:16px;}

#tandem{
	font-family: "RobotoMono";
	margin-top: 10px;
}
#loci{margin-top: 5px;}
.base{
	display: inline-block;
	text-align: center;
	font-size: 18px;
	margin: 1px;
}
.A{color:#5050ff;}
.T{color:#e6e600;}
.G{color:#00c000;}
.C{color:#e00000;}
</style>
</head>
<body>
	<div id="name">>{{ table }}-{{ ssr.id }} {{ ssr.sequence }}:{{ ssr.start }}-{{ ssr.end }}</div>
	<div id="tandem">{{ tandem }}</div>
</body>
</html>
